doctype html
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title npm scripts
  link(rel="stylesheet" href="assets/css/style.css")
body
  h1 npm scripts
  p テスト
  img(src="assets/img/pc/pc.png")
  img(src="assets/img/sp/sp.png")

  script(src="assets/js/script.js")